@model Shared.Common.UserCommon
@{
    ViewBag.Title = "ForgotPassword";
}


    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 align-content-center container-fluid" style="margin-top:75px; background-color:#eee">
        @using (Html.BeginForm("ForgotPassword", "User", new { }, FormMethod.Post, new { @role = "form", @class = "form-horizontal form-inline ", @style = "margin-left:25%; ", @id = "User" }))
        {
            @Html.AntiForgeryToken()
            if (!Html.ViewData.ModelState.IsValid)
            {
                var resp = WebApplication_ECommerceSystem_.Library.StaticData.GetSessionMessage();

                if (null != resp)
                {
                    @section Message
                {
                        <script type="text/javascript">
                        ManageMessage(@resp.ErrorCode, "@resp.Message");
                        </script>
                    }

                }
            }
            
            <div class="media-body align-content-center col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" style=" background: #fff; padding: 30px; border-radius: 15px; box-border: 0px 0px 10px 0px #000;">
                <h2 style="color:red">Forgot Password</h2>
                <div style="background-color:lightcyan">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-control-xs form-control-sm form-control-md form-control-lg form-control-xl">
                            <div class="form-group">
                                <label class=" col-sm-2 col-md-2 col-lg-2 cols-xl-2 control-label"> <i style="color:deepskyblue; font-size:2em" class="mdi mdi-account"></i><small class="text-danger"> *</small></label>
                                @Html.TextBoxFor(m => m.Email, Model.Email, new { @class = "form-control col-sm-6 col-md-6 col-lg-6 col-xl-8", @placeholder = "Enter your Email ", @type = "email", @required = "required" })
                            </div>
                        </div>

                    </div>
                    <div class="row" style="padding:1em">
                        <div class=" col-sm-8 col-md-8 col-lg-8 col-xl-8 form-control-xs form-control-sm form-control-md form-control-lg form-control-xl">
                            <a href="/User/SignIn" class="btn btn-primary btn-group-lg "><i class="mdi mdi-replay"></i> SignIn </a>
                            <button type="submit" value="Submit" class="btn btn-danger btn-group-lg"><i class="mdi mdi-check"></i> Submit </button>
                        </div>
                    </div>
                </div>
                

            </div>

        }
    </div>

